@model IEnumerable<LibraryApp.Account>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckedoutBooksCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckedoutBooksCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AccountNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AccountNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AccountNumber">Delete</a> |
                <a asp-action="CheckoutBooks" asp-route-id="@item.AccountNumber">CheckoutBooks</a> |
                <a asp-action="CheckinBooks" asp-route-id="@item.AccountNumber">CheckinBooks</a> |
                <a asp-action="Activity" asp-route-id="@item.AccountNumber">Activity</a>
            </td>
        </tr>
}
    </tbody>
</table>
